$search-block-bg: #c1c1c1;
$accent-strong: #ec5800;
$accent-light: #ee7f00;

$anim-color-1: #faba00;
$anim-color-2: #db001b;

@font-face {
  font-family: 'Open Sans';
  src: url("https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin-ext");
}

@font-face {
  font-family: 'Open Sans italic';
  src: url("https://fonts.googleapis.com/css?family=Open+Sans:400i&amp;subset=latin-ext");
}

@font-face {
  font-family: 'Open Sans bold';
  src: url("https://fonts.googleapis.com/css?family=Open+Sans:600&subset=latin-ext");
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(51, 51, 51);
  background-color: rgb(234, 236, 236);
}

.row {
  margin: 0;
  justify-content: center;
}

.container-fluid, .navbar {
  padding: 0;
}

.header {
  background-color: white;
  padding: 2% 0 1%;
  &--heading {
    font-size: 1.4rem;
    color: darken($search-block-bg, 30);
  }
}

.decoration-block {
  height: 12px;
  background: $anim-color-2;
  background-image: linear-gradient(90deg, $anim-color-1 50px, transparent 0),
  linear-gradient(90deg, $accent-strong 37px, transparent 0),
  linear-gradient(90deg, $accent-light 27px, transparent 0);
  background-size: 145px 100%, 67px 100%, 72px 100%;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.decoration-block__bg {
  background-size: 226px 100%, 96px 100%, 60px 100%;
}

.search-block {
  //padding: 5% 0;
  background-color: $search-block-bg;
  &--column {
    margin: 0 auto;
  }
  &--parag {
    color: white;
    font-size: 1.3rem;
    margin-top: 4%;
  }
  &--input {
    &:focus {
      border-color: grey;
      box-shadow: none;
    }
  }
  .input-group {
    margin: 4% 0 5%;
  }
  &--button {
    cursor: pointer;
    background-color: $accent-strong;
    border: none;
    font-size: 1.2rem;
    &:hover, &:not([disabled]):not(.disabled):active {
      background-color: $accent-light;
    }
    &:focus {
      box-shadow: none;
    }
    &--img {
      margin: 0 0 0 7px;
      height: 20px;
    }
  }
}

.arrow--svg {
  display: block;
  margin: -1px auto 0;
  height: 30px;
}

.results-block {
  padding: 2% 0 2%;
  &--alert {
    display: none;
    margin: 0 auto;
    text-align: center;

  }
}

.book {
  width: 90%;
  margin: 10px 10px;
  -webkit-box-shadow: 0 0 3px 1px #bbb;
  -moz-box-shadow: 0 0 3px 1px #bbb;
  box-shadow: 0 0 3px 1px #bbb;
  border-radius: 0;
  .card-body {
    //padding: 0;
    //position: relative;

    display: flex;
    flex-direction: column;
  }
  &--subject {
    text-align: center;
    text-transform: capitalize;
  }

  &--cover {
    padding: 0 0 5%;
    height: 220px;
    &--image {
      display: block;
      margin: 0 auto;
      height: 100%;
      max-width: 150px;
      border: 1px solid $search-block-bg;
    }
  }

  &--info {
    font-family: 'Open Sans bold', sans-serif;
    color: gray;
    font-weight: 600;
    margin-top: -12px;
  }

  &--author {
    margin: 5px 0;
    font-family: 'Open Sans italic', sans-serif;
    font-style: italic;
  }

  &--numbers {
    margin-top: 5%;
    color: gray;
    font-size: 15px;
  }

  &--link-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 5%;
    flex-grow: 2;
  }

  &__footer {
    padding: .75rem 1.25rem;
    background-color: transparent;
    border-top: none;
    display: flex;
  }

  &--link {
    background-color: $accent-strong;
    border-radius: 0;
    border: none;
    max-width: 160px;
    margin: 0 auto;
    &:hover, &:not([disabled]):not(.disabled):active {
      background-color: $accent-light;
    }
    &:focus, &:not([disabled]):not(.disabled):active {
      box-shadow: none;
    }
    &--img {
      margin: 0 0 0 7px;
      height: 25px;
    }
  }
}

@media (min-width: 576px) {

  .input-group {
    margin: 2% 0;
  }

  .card {
    width: 46%;
  }

  .header {
    &--heading {
      font-size: 2rem;
    }
  }
}

@media (min-width: 992px) {

  .card {
    width: 31%;;
    //margin: 1% 1%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1288px;
  }
  .card {
    width: 23%;
  }
}