$search-block-bg: #c1c1c1;
$accent-strong: #ec5800;
$accent-light: #ee7f00;

$anim-color-1: #faba00;
$anim-color-2: #db001b;

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin-ext");
}

html {
  overflow-y:scroll;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(51, 51, 51);
  background-color: rgb(234, 236, 236);
}

.row {
  margin: 0;
}

.header {
  background-color: white;
  padding: 2% 0 1%;
  //border-bottom: solid 7px $accent-strong;
  &--heading {
    font-size: 1.4rem;
    color: darken($search-block-bg, 30);
  }
}

.decoration-block {
  height: 15px;
  background: $anim-color-2;
  background-image:
          linear-gradient(90deg, $anim-color-1 50px, transparent 0),
          linear-gradient(90deg, $accent-strong 37px, transparent 0),
          linear-gradient(90deg, $accent-light 27px, transparent 0);
  background-size: 145px 100%, 67px 100%, 72px 100%;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.decoration-block__bg {
  background-size: 226px 100%, 96px 100%, 60px 100%;
}

.search-block {
  padding: 3% 0 2%;
  background-color: $search-block-bg;
  &--column {
    margin: 0 auto;
  }
  &--parag {
    color: white;
    font-size: 1.3rem;
  }
  &--input {
    &:focus{
      border-color: grey;
      box-shadow: none;
    }
  }
  &--button {
    cursor: pointer;
    background-color: $accent-strong;
    border: none;
    font-size: 1.2rem;
    &:hover, &:not([disabled]):not(.disabled):active {
      background-color: $accent-light;
    }
    &:focus{
      box-shadow: none;
    }
    &--img {
      margin: 0 0 0 7px;
      height: 20px;
    }
  }
}

.results-block {
  padding: 5% 0 2%;
  &--alert {
    display: none;
    margin: 0 auto;
    text-align: center;
    
  }
}

.card {
  width: 90%;
  margin: 5% 5%;
}

img {
  max-width: 80%;
}

.book {
  padding: 0;
  &--subject {
    border-bottom: none;
  }
}

@media (min-width: 576px) {
  .card {
    width: 48%;
    margin: 1% 1%;
  }

  .header {
    &--heading {
      font-size: 2rem;
    }
  }
}

@media (min-width: 992px) {

  .results-block {
    padding: 5% 0 2%;
  }

  .card {
    width: 31.3%;;
    margin: 1% 1%;
  }
}


@media (min-width: 1200px) {
  .container {
    max-width: 1288px;
  }
  .card {
    width: 23%;
    margin: 1% 1%;
  }
}